<!-- filepath: /C:/Users/LENOVO/django_projects/bulk_sms/bulk_sms_api/campaigns/templates/gestion_campagnes_MK.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Campagnes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'campaigns/css/MK_User.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'campaigns/js/MK_User.js' %}" defer></script>
    <style>
        :root {
            --primary-color: {{ colors.0 }};
            --secondary-color: {{ colors.1 }};
            --background-color: #f4f7f6;
            --sidebar-color: #2c3e50;
            --text-color: #333;
            --hover-color: {{ colors.0 }};
        }
        .campaign-list {
            max-height: 400px; /* Limiter la hauteur du tableau */
            overflow-y: auto; /* Ajouter une barre de défilement verticale */
        }


        .actions button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
            position: relative;
        }
        
        .actions button i {
            font-size: 20px;
            color: var(--primary-color);
        }
        
        .actions button:hover i {
            color: var(--hover-color);
        }
        
        /* Styles pour afficher une description lors du survol */
        .actions button[title]::after {
            content: attr(title);
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
        }
        
        .actions button:hover[title]::after {
            opacity: 1;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('success') === 'true') {
                Swal.fire({
                    title: 'Succès !',
                    text: 'La campagne a été créée avec succès.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="{{ logo_url }}" alt="Company Logo" class="logo">
            <h2>Mass Mailing</h2>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'marketing_dashboard' %}"><i class="material-icons">home</i> Accueil</a></li>
                <li><a href="{% url 'securite' %}"><i class="material-icons">security</i> Sécurité</a></li>
                <li><a href="{% url 'notifications' %}"><i class="material-icons">notifications</i> Notifications</a></li>
                <li><a href="{% url 'gestion_campagnes_mk' %}"><i class="material-icons">campaign</i> Gestion des Campagnes</a></li>
                <li><a href="{% url 'editeur_contenu' %}"><i class="material-icons">edit</i> Éditeur de Contenu</a></li>
                <li><a href="{% url 'demande_assistance' %}"><i class="material-icons">build</i> Demande d'assistance</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <div class="header-bar">
            <h1>Gestion des Campagnes</h1>
            <div class="user-info">
                {% if request.session.admin_username and request.session.employee_username %}
                    <span>{{ request.session.admin_username }} connecté en tant que {{ request.session.employee_username }}</span>
                {% else %}
                    <span>{{ request.user.username }}</span>
                {% endif %}
                <a href="{% url 'gestion_profile_MK' %}"><i class="material-icons" id = "accountCircle">account_circle</i></a>
                <form class = "logoutForm" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Déconnexion</button>
                </form>
            </div>
        </div>
        <div class="content">
            <button id="create-campaign-button" onclick="window.location.href='{% url 'create_campaign' %}'">
                <i class="material-icons">add</i> Créer une Campagne
            </button>
            <div class="search-bar">
                <form class="rechercheForm" method="get" action="{% url 'gestion_campagnes_mk' %}">
                    <label for="search">rechercher par titre :</label>
                    <input class="inputRecherche" type="text" name="search" placeholder="Rechercher des campagnes..." value="{{ request.GET.search }}">
                    <button type="submit">Rechercher</button>
                </form>
            </div>

            <div class="filter-bar">
                <form method="get" action="{% url 'gestion_campagnes_mk' %}">
                    <label for="status-filter">Filtrer par statut :</label>
                    <select id="status-filter" name="status">
                        <option value="">Tous</option>
                        <option value="brouillon">Brouillon</option>
                        <option value="planifiée">Planifiée</option>
                        <option value="en cours">En cours</option>
                        <option value="suspendue">Suspendue</option>
                        <option value="terminée">Terminée</option>
                        <option value="historisée">Historisée</option>
                    </select>
                    <button type="submit">Filtrer</button>
                </form>
            </div>

            <div class="stats">
                <h3>Statistiques des Campagnes</h3>
                <iframe 
                
                src="http://127.0.0.1:8050/campaign-statistics" 
                    style="width: 100%; height: 500px; border: none;">
                </iframe>
            </div>
            
            <h2 class="titreListeCampagnes">Liste des Campagnes</h2>

            <div class="campaign-list">
                <table>
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Groupes Cibles</th>
                            <th>Statut</th>
                            <th>Date de Lancement</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Boucle pour afficher les campagnes -->
                        {% for campaign in campaigns %}
                        <tr>
                            <td>{{ campaign.name }}</td>
                            <td>{{ campaign.group.name }}</td>
                            <td>{{ campaign.get_status_display }}</td>
                            <td>{{ campaign.launch_date }}</td>
                            <td class="actions">
                                {% if campaign.status == 'terminée' %}
                                    <button class="relancer-button" data-id="{{ campaign.id }}" title="Relancer la campagne">
                                        <i class="material-icons">refresh</i>
                                    </button>
                                    <button class="details-button" data-id="{{ campaign.id }}" title="Voir les détails de la campagne">
                                        <i class="material-icons">visibility</i>
                                    </button>
                                {% else %}
                                    <button class="edit-button" 
                                            data-id="{{ campaign.id }}" 
                                            data-title="{{ campaign.name }}" 
                                            data-content="{{ campaign.content_id }}" 
                                            data-message="{{ campaign.message }}" 
                                            data-groups="{{ campaign.group_id }}" 
                                            data-launch_date="{{ campaign.launch_date|date:'Y-m-d\TH:i' }}" 
                                            data-duration="{{ campaign.duration }}" 
                                            data-messages_per_period="{{ campaign.messages_per_period }}" 
                                            title="Modifier la campagne">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    {% if campaign.status == 'brouillon' %}
                                    <form method="post" action="{% url 'launch_campaign' campaign.id %}" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" title="Lancer la campagne">
                                            <i class="material-icons">play_arrow</i>
                                        </button>
                                    </form>
                                    {% endif %}
                                    <button class="suspend-button" title="Suspendre ou reprendre la campagne">
                                        <i class="material-icons">pause</i>
                                    </button>
                                    <button class="delete-button" title="Supprimer la campagne">
                                        <i class="material-icons">delete</i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</body>
</html>