<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Employés</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'campaigns/css/gestionEmploye.css' %}">
    <script src="{% static 'campaigns/js/gestionEmploye.js' %}" defer></script>
    <style>
        body {
            background: linear-gradient(to right, {% for color in colors %} {{ color }}{% if not forloop.last %}, {% endif %}{% endfor %});
        }
    </style>
</head>
<body>
    <h1>Gestion des Employés</h1>
    <table>
        <thead>
            <tr>
                <th>Nom Complet</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
                <td id="status-{{ employee.id }}">{{ employee.is_active|yesno:"Actif,Inactif" }}</td>
                <td>
                    <button id="toggle-button-{{ employee.id }}" onclick="toggleStatus({{ employee.id }})">
                        {{ employee.is_active|yesno:"Désactiver,Activer" }}
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>