<!-- filepath: /C:/Users/LENOVO/django_projects/bulk_sms/bulk_sms_api/campaigns/templates/registration/password_reset_complete.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Réinitialisation du mot de passe terminée</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'campaigns/css/register.css' %}">
</head>
<body>
    <div class="floating-mails-container"></div>

    <h1 class="titreLogin">Réinitialisation du mot de passe terminée</h1>
    <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous <a href="{% url 'login' %}">connecter</a>.</p>
</body>
</html>