<!DOCTYPE html>
<html>
<head>
    <title>Réinitialisation du mot de passe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'campaigns/css/register.css' %}">
</head>
<body>
    <div class="floating-mails-container"></div>

    <h1 class="titreLogin">Réinitialisation du mot de passe</h1>
    <form method="post">
        {% csrf_token %}
        <label for="new_password1">Nouveau mot de passe:</label>
        <input type="password" id="new_password1" name="new_password1" required><br>
        <label for="new_password2">Confirmer le nouveau mot de passe:</label>
        <input type="password" id="new_password2" name="new_password2" required><br>
        <button type="submit">Réinitialiser le mot de passe</button>
    </form>
</body>
</html>