<!-- filepath: /C:/Users/LENOVO/django_projects/bulk_sms/bulk_sms_api/campaigns/templates/registration/password_reset_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Réinitialisation du mot de passe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'campaigns/css/register.css' %}">
</head>
<body>
    <div class="floating-mails-container"></div>

    <h1 class="titreLogin">Réinitialisation du mot de passe</h1>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>