<!-- filepath: /C:/Users/LENOVO/django_projects/bulk_sms/bulk_sms_api/campaigns/templates/registration/password_reset_done.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Réinitialisation du mot de passe envoyée</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'campaigns/css/register.css' %}">
</head>
<body>
    <div class="floating-mails-container"></div>

    <h1 class="titreLogin">Réinitialisation du mot de passe envoyée</h1>
    <p>Un email avec les instructions pour réinitialiser votre mot de passe a été envoyé.</p>
</body>
</html>