<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mettre à jour le mot de passe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'campaigns/css/MK_User.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <div class="header-bar">
            <h1>Mettre à jour le mot de passe</h1>
        </div>
        <div class="content">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save-button">Enregistrer</button>
            </form>
        </div>
    </div>
</body>
</html>