/* Variables pour les couleurs de l'entreprise */
:root {
    --primary-color: {{ colors.0 }}; /* Couleur principale */
    --secondary-color: {{ colors.1 }}; /* Couleur secondaire */
    --hover-color: {{ colors.1 }};
    --background-color: #f4f7f6;
    --text-color: #333;
    
    --table-header-color: {{ colors.0 }};
    --table-row-even-color: #f9f9f9;
    --table-row-hover-color: #f1f1f1;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
}

/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-speed) ease;
}

a:hover {
    color: var(--primary-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
    transition: background-color var(--transition-speed) ease, transform 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    background-image: url("{% static 'campaigns/images/orateur.png' %}");

}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar .logo {
    max-width: 100px;
    margin-bottom: 15px;
}

.sidebar h2 {
    font-size: 18px;
    margin: 0;
    color: black;
    font-weight: 600;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    color: black;
    background-color: rgba(255, 255, 255, 0.449);
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color var(--transition-speed) ease;
}

.sidebar nav ul li a:hover {
    background-color: var(--hover-color);
}

.sidebar nav ul li a i {
    margin-right: 10px;
}

.add_employee{
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease, transform 0.2s ease;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.add_employee:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px);
}
/* Contenu principal */
.main-content {
   
    margin-top: 100px;
    margin-left: 350px;
    
    background-color: var(--background-color);
    
}
/* Header Bar */
.header-bar {
    width: calc(100% - 320px);
    padding: 15px 20px;
    height: 30px;
    background-color:var(--primary-color) ;
    position: fixed;
    top: 0;
    left: 290px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px var(--shadow-color);
}


.header-bar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
    font-size: 16px;
}

.logout-button {
    background-color: var(--secondary-color);
    color: white;
    padding: 8px ;
    border-radius: 6px;
    font-size: 14px;
    position: relative;
    bottom: 10px;
    transition: background-color var(--transition-speed) ease;
    
}

#accountCircle{
    font-size: 30px;
    color: black;
    margin-right: 10px;
    transition: color var(--transition-speed) ease;
}
#accountCircle:hover{
    font-size: 30px;
    color: white;
    margin-right: 10px;
    transition: color var(--transition-speed) ease;
}


/* Contenu principal */
.content {
    margin-top: 80px; /* Pour éviter que le contenu ne soit caché sous la barre d'en-tête */
    top: 100px;
}

/* Search Bar */
.search-bar {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    position: relative;
    left: 200px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
}

.search-bar input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--header-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

.search-bar button:hover {
    background-color: var(--hover-color);
}


/* Filter Bar */
.filter-bar {
    margin-top: 20px;
}

.filter-bar label {
    font-size: 16px;
}

.filter-bar select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
}

.filter-bar select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
    outline: none;
}


/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
   
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: var(--table-header-color);
    font-weight: 600;
}

table tr:nth-child(even) {
    background-color: var(--table-row-even-color);
}

table tr:hover {
    background-color: var(--table-row-hover-color);
}


thead{
    background-color: var(--primary-color);
    color: white;
}


/* Boutons */
button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: var(--header-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

button:hover {
    background-color: var(--hover-color);
}

/* Bouton de déconnexion */
.logout-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

.logout-button:hover {
    background-color: var(--hover-color);
}

/* Styles pour la page gestion_profile_admin.html */
.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
    color: var(--primary-color);
    font-weight: 600;
}

.section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.section input, .section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
}

.section input:focus, .section select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
    outline: none;
}

.edit-button, .save-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

.edit-button:hover, .save-button:hover {
    background-color: var(--hover-color);
}

/* Icônes */
.profile-icon {
    font-size: 24px;
    color: white;
    margin-right: 10px;
    transition: color var(--transition-speed) ease;
}

.profile-icon:hover {
    color: var(--hover-color);
}

.material-icons, .fas {
    vertical-align: middle;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }

    .main-content {
        margin-left: 0;
        padding: 20px;
    }

    .header-bar {
        width: 100%;
        left: 0;
        padding: 10px;
    }

    .search-bar {
        width: 500px;
        flex-direction: column;
        gap: 10px;
    }

    .search-bar input {
        width: 100%;
    }
}







/* image slider ///////////////////*/
/* Styles pour le slider */
.slider {
    position: relative;
    max-width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 450px;


}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Boutons de navigation */
.prev, .next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}






/* gest contacts */


.content{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    left: 100px;
}



/* page gestion utilisateurs marketing*/

#employees-table, #employee-activities-table {
    width: 90%;
    margin-left: 80px;  

}




.kpi-row {
    width: 100%;
    margin: 10px 0 30px 0;
}

.kpi-row iframe {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}





/* Conteneur principal des KPIs */
.kpi-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 0 30px 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}



/* Label KPI */
.kpi-label {
    font-size: 50px;
    font-weight: 500;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Couleurs spécifiques pour chaque KPI */
.kpi-card:nth-child(1) {
    background-color: rgba(46, 204, 113, 0.15); /* Vert clair */
    border-color: #2ecc71; /* Vert foncé */
}
.kpi-card:nth-child(1) .kpi-value {
    color: #2ecc71;
}

.kpi-card:nth-child(2) {
    background-color: rgba(52, 152, 219, 0.15); /* Bleu clair */
    border-color: #3498db; /* Bleu foncé */
}
.kpi-card:nth-child(2) .kpi-value {
    color: #3498db;
}

.kpi-card:nth-child(3) {
    background-color: rgba(231, 76, 60, 0.15); /* Rouge clair */
    border-color: #e74c3c; /* Rouge foncé */
}
.kpi-card:nth-child(3) .kpi-value {
    color: #e74c3c;
}

.kpi-card:nth-child(4) {
    background-color: rgba(243, 156, 18, 0.15); /* Orange clair */
    border-color: #f39c12; /* Orange foncé */
}
.kpi-card:nth-child(4) .kpi-value {
    color: #f39c12;
}
.kpi-card-small{
    display: none;
}


/* Responsive pour petits écrans */
@media (max-width: 768px) {
    .kpi-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .kpi-card {
        min-width: calc(50% - 20px);
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .kpi-card {
        min-width: 100%;
    }
}   







